UpgradeLog.htm
*.fbx
Binaries/**
!Binaries/Win64/
Binaries/Win64/**
!Binaries/Win64/UnrealEditor-SOAF.dll
!Binaries/Win64/UnrealEditor.modules
DerivedDataCache/
Intermediate/
Saved/
Build/
Windows/
.vs/
.DS_Store
Thumbs.db
*.zip
*.nsi
Setup_SOAF_v1.exe
Setup_Nouylle_SOAF_v1.exe
Setup_Nouylle_SOAF_v2.exe
Setup_Nouylle_SOAF_v3.exe
Setup_Nouylle_SOAF_v4.exe
